.logo{
  width:100%; height:20%;
  background-color: aqua;
}
.mobileImageContainer{
  width:100%; height:20%;
  background-color: red;
}
.mobileImage{
  width:100%; height: 100%;
}
#coming-soon-title-container{

}
#content-container{
  color:green;
}
#form-container{

}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  #content-container{
    color:green;
  }
}
